:root {
  --white: #ffffff;
  --black: #212121;
  --primary: #ffc107;
  --secondary: #0097a7;
  --grey: #757575;

}

html {
  font-size: 62.5%;
}
body {
  font-size: 16 px; /*1 rem = 10px*/
}
.titulo {
  text-align: center;
  font-size: 3.8rem;
}
.titulo span {
  font-size: 2rem;
}
